In [ ]:
class emp:
    _Var = 9
    def __init__(self,var2):
        self._Var2 = var2

    def set_valiable(self,v1,v2):
        self._Var = v1
        self._Var2 = v2
        # print("set_valiable called " + str(self._Var) + " " + str(self._Var2))
    def subtract_2(self,v1, v2=0 ):
        return v1 - v2
        self._Var -= v1
        
        # print("subtract_2 called " + str(self._Var) + " " + str(self._Var2))
    def add_2(self,v1, v2=0 ):
        return v1 + v2
        self._Var += v1
        
        # print("add_2 called " + str(self._Var) + " " + str(self._Var2))

    @classmethod
    def set_class_function(cls,v1):
        cls.add_2 = cls.subtract_2
        
    def print_valiable(self):
        print("print_valiable called " + str(self._Var) + " " + str(self._Var2))

In [34]:
emp1 = emp(2)
emp1.add_2(3,5)
emp1.set_class_function(5)
emp1.add_2(3,5)

-2

In [22]:
emp2 = emp(5)

In [ ]:
emp2.print_valiable()
emp2.set_valiable(6,7)
emp2.print_valiable()

In [27]:
emp3 = emp(8)
emp3.set_class_valiable(9)
emp3.print_valiable()

print_valiable called 9 8

In [28]:
emp4 = emp(10)
emp4.add_2(2,8)

AttributeError: 'emp' object has no attribute 'add_2'

In [ ]:
class student:
    _Var = 12
    def __init__(self, var2):
        self._Var2 = var2

    @classmethod
    def set_valiable(cls, v1, v2):
        cls._Var = v1
        cls._Var2 = v2
        # print("set_valiable called " + str(self._Var) + " " + str(self._Var2))

    def add_2(self, v1, v2=0):
        return v1 + v2

    def print_valiable(self):
        print("print_valiable called " + str(self._Var) + " " + str(self._Var2))
    

obj = student(5)
obj.set_valiable(40, 20)
obj.print_valiable()


emp2 = student(15)
emp2.print_valiable()

print_valiable called 40 5
print_valiable called 40 15